th,
td {
    padding: 10px;
}

th {
    background-color: #afafaf;
}

td {
    background-color: white;
}

table,
table * {
    border: 1px solid black;
    border-collapse: collapse;
}

.container {
    border: 1px solid red;
    background-color: #dfdfdf;
}

.container-head {
    padding: 10px;
    display: flex;
}

.container-head h3 {
    margin: auto;
}

.container-body {
    padding: 5px;
    border-top: 1px dotted red;
}
.container-body p {
    padding: 10px 0;
}


#logout-button {
    padding: 1rem;
    display: flex;
}

#logout-button a {
    padding: 5px;
    border: 1px solid white;
    color: white;
    margin: auto;
    transition-duration: 300ms;
    text-decoration: none;
    background-color: #8e8b8b;
}

#logout-button a:hover {
    box-shadow: 0px 0px 10px 5px white;
}

img {
    height: 30px;
    /* background-image: url("edit.png"); */
}

a img:hover {
    box-shadow: 0px 0px 10px 5px rgb(204, 202, 202);
}